@import "reset.css";

body {
  padding: 25px;
  background-color: white;
  color: black;

}

.dark-mode {
  background-color: rgb(27, 27, 27);
  color: rgb(235, 235, 235);
}

#darkmode {
    float: right;
    color: white;
    font-size: .8em;
    background-color: black;
    border-radius: 1em;
    padding: .5em;
    opacity: .5;
    position: fixed;
    right: 5%;
    top: 15%;
    z-index: 1000;
}


nav {
    text-decoration: none;

}

.nav {
    background-color: rgb(20, 20, 20);
    color: white;
    height: 4em;
    margin-bottom: 2%;
    z-index: 1000;

}


#navbar {
    position: fixed;
    top: 15%;
}


#logo {
    position: fixed;
    right: 5%;
    width: 5%;
    min-width: 50px;
    z-index: 1500;
}

#homepageart {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#imgbox {
    display: grid;
    height: 100%;
}

.question {
    background-color: none;
    text-decoration: none;
    padding: 2em;
}



#intro {
    padding-top: 4%;
    line-height: 2em;
    font-weight: bold;
}

#panel, #flip {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
  }
  
#panel {
padding: 50px;
display: none;
}


footer {
    font-size: .7em;
    margin: 3em;
}